In [ ]:
"""

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and
9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

"""

In [9]:
def sum_of_multiples(cut_off):
    result = 0
    for i in range(cut_off):
        if i % 3 == 0 or i % 5 == 0:
            result += i
            
    return result

In [11]:
sum_of_multiples(10)

23

In [12]:
sum_of_multiples(1000)

233168