In [ ]:
"""


If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 
3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how 
many letters would be used?

NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) 
contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of 
"and" when writing out numbers is in compliance with British usage.

"""

In [77]:
def digit_name(d):
    assert d // 10 == 0
    if d == 0:
        return False
    else:
        return ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'][d - 1]

In [78]:
def tens_name(d):
    assert d // 10 == 0
    
    if d == 1:
        return False
    else:
        return ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'][d - 2]

In [79]:
def tens_are_one_name(d):
    assert d // 10 == 0
    
    return ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 
            'seventeen', 'eighteen', 'nineteen'][d]

In [80]:
digit_name(2)

'two'

In [81]:
tens_name(9)

'ninety'

In [82]:
number_name(123)

'onehundredandtwentythree'

In [83]:
def number_name(num):
    assert num >= 1 and num <= 1000
    
    if num == 1000:
        return 'onethousand'
    
    hundreds = num // 100
    tens = num % 100 // 10
    ones = num % 10
    
    tens_are_one = tens == 1
    
    name = ''
    
    if hundreds:
        name += digit_name(hundreds) + 'hundred'
        if tens or ones:
            name += 'and'
        
    if tens:
        if tens_are_one:
            name += tens_are_one_name(ones)
        else:
            name += tens_name(tens)
        
    if ones and not tens_are_one:
        name += digit_name(ones)
    
    return name

In [84]:
number_name(342)

'threehundredandfortytwo'

In [86]:
len('threehundredandfortytwo')

23

In [87]:
length = 0
for i in range(1, 1001):
    length += len(number_name(i))

In [88]:
length

21124